<mat-toolbar>
  <h3>{{ title() }}</h3>
  <button mat-icon-button mat-dialog-close>
    <mat-icon>close</mat-icon>
  </button>
</mat-toolbar>
<form mat-dialog-content [formGroup]="fg">
  <mat-form-field appeareance="outline">
    <mat-label>Title</mat-label>
    <input matInput formControlName="title" type="text" required />
    <mat-error>Title is required</mat-error>
  </mat-form-field>
  <mat-form-field appearance="outline">
    <mat-label>Status</mat-label>
    <mat-select formControlName="status">
      <mat-option value="draft">Draft</mat-option>
      <mat-option value="published">Published</mat-option>
    </mat-select>
  </mat-form-field>
  <div class="form-buttons">
    <button
      mat-raised-button
      type="button"
      [disabled]="fg.invalid"
      (click)="save()"
    >
      Save
    </button>
    <button mat-button mat-dialog-close>Close</button>
  </div>
</form>
