.container-login {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.container-login__intro {
  width: 75%;
  height: 100vh;
  background-color: silver;
}

.container-login__login {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(14, 132, 228);
  height: 100vh;
}
