<div class="container">
  <form [formGroup]="formGroup">
    <h1>OTP</h1>

    <mat-form-field appearance="outline">
      <mat-label>Token</mat-label>
      <input type="text" matInput required formControlName="token" />
      <mat-icon matSuffix>email</mat-icon>
    </mat-form-field>

    <div class="linkRegister">
      Don't have an account? <a routerLink="/auth/register">click here</a>
    </div>

    <div class="buttonActions">
      <button
        mat-flat-button
        (click)="sentToken()"
        [disabled]="formGroup.invalid"
        type="button"
      >
        SENT TOKEN
      </button>
    </div>
  </form>
</div>
